.root {
    -fx-font-family: "Courier New";
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-background-size: cover;
}

.Title {
    -fx-font-size: 40;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #000000, 14, 0.6, 0, 0);
    -fx-font-weight: bold;
    -fx-padding: 20;
}


.title-logo {
    -fx-background-image: url('../assets/interface/MoonGatto.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-min-width: 375px;
    -fx-min-height: 375px;
    -fx-pref-width: 375px;
    -fx-pref-height: 375px;
}

.sub-title {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(gaussian, #000000, 14, 0.6, 0, 0);
    -fx-font-weight: bold;
    -fx-padding: 20;
}

.menu-container {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.menu-button {
    -fx-font-size: 20;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-padding: 15;
}

.menu-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.audio-slider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #8a8d91;
    -fx-font: Semibold 16px "Segoe UI";
}

.audio-slider .thumb {
    -fx-background-color: #00aac8;
}

.audio-slider .track {
    -fx-background-color: rgba(0, 110, 200, 0.75);
}
