.background {
    -fx-background-image: url("../assets/textures/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; /* Use 'cover' to fill the area or 'stretch' */
    -fx-background-position: center center;
}

.menu-root {
    -fx-background-color: #0a0f1a;
    -fx-background-size: cover;
}

.title-text {
    -fx-text-fill: #ffffff;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
    -fx-effect: dropshadow(gaussian, #000000, 14, 0.6, 0, 0);
}

.title-logo {
    -fx-background-image: url('../assets/interface/MoonLarp.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-min-width: 375px;
    -fx-min-height: 375px;
    -fx-pref-width: 375px;
    -fx-pref-height: 375px;
}

.play-button {
     -fx-background-color: rgba(0, 80, 160, 0.55);
     -fx-background-radius: 20;
     -fx-text-fill: #ffffff;
     -fx-font-family: "Courier New";
     -fx-font-size: 18px;
     -fx-font-weight: bold;
     -fx-border-color: rgba(0, 170, 255, 0.8);
     -fx-border-width: 2;
     -fx-border-radius: 20;
     -fx-pref-height: 75;
     -fx-pref-width: 350;
 }

.play-button:hover {
    -fx-background-color: rgba(0, 110, 200, 0.75);
    -fx-cursor: hand;
}
