.menu-root {
    -fx-background-color: #1a1a2e;
    -fx-background-size: cover;
}

.title-text {
    -fx-fill: white;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}

.play-button {
    -fx-background-color: #6b6b6b;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-border-color: #444444;
    -fx-border-width: 2;
    -fx-border-radius: 20;
    -fx-cursor: hand;
}

.play-button:hover {
    -fx-background-color: #888888;
}

/* POP UP WINDOWS */
.popup-root {
    -fx-background-color: #1a1a2e;
    -fx-padding: 40;
}

.popup-title {
    -fx-text-fill: white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
}

.popup-content {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Courier New";
}

.close-button {
    -fx-background-color: #c0392b;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-padding: 10 30 10 30;
    -fx-border-radius: 10;
    -fx-cursor: hand;
}

.close-button:hover {
    -fx-background-color: #e74c3c;
}
